@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --left-box-bg: #1d1d1d;
    --right-box-bg: #242424;
    --shadowed-black: #353535;
    --dull-grey: rgb(43, 43, 43);
    --main-orange: rgb(255, 115, 0);
    --dull-orange: rgb(252, 123, 18);
    --dark-violet: rgb(180, 0, 204);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
/* general style for footer starts here */
footer{
    height: 8em;
    background: var(--right-box-bg);
    width: 100vw;
    position: fixed;
    border-top: 1px solid #0f0e0e;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.timeLine{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: -15px;
}
footer span{
    font-size: 13px;
    font-weight: 100;
    margin-top: 12px;
    width: 8%;
    /* background-color: green; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
}
 #durationRangeContainer {
    position: relative;
    margin: 5px auto;
    margin-right: 15px;
    width: 92%;
     /* background-color: white; */
    height: 30px;
  }

  #durationRange {
    width: 100%;
    appearance: none;
    background: rgb(131, 131, 131);
    height: 4px;
    border-radius: 5px;
    z-index: -5;
  }

  #progressBar {
    position: absolute;
    top: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--dull-orange);
    z-index: 1;
  }

  #durationRange::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    z-index: 5;
  }
  .thumb{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #363636;
      position: absolute;
      top: 6px;
      z-index: 2;
  }
  .thumb::after{
      position: absolute;
      content: '';
      width: 11px;
      height: 11px;
      background-color: var(--dull-orange);
      border-radius: 50%;
      top: 4px;
      left: 5px;
      transition: 0.08s;
  }
  #durationRangeContainer:hover .thumb::after{
      background-color: var(--dull-orange);
      width: 13px;
      height: 13px;
      top: 3px;
      left: 4px;
  }

  /* template part in footer */
  .buttons_and_template{
    width: 80%;
    /* background-color: white; */
    display: flex;
  }
  .template{
    display: flex;
    width: 535px;
    /* background-color: red; */
    position: relative;
    padding: 5px;
  }
  .template:hover{
    background-color: rgba(51, 51, 51, 0.473);
    border-radius: 5px;
  }
  .template .image{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: blue;
    border-radius: 5px;
    margin-right: 20px;
    /* border: 1px solid grey; */
  }
  .template .image .temp_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .temp_song{
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    color: white;
    margin-left: 85px;
  }
  .temp_song span{
    width: 440px;
    padding-bottom: 5px;
    text-align: left;
    /* display: -webkit-box;
    -webkit-box-orient: vertical; these are no longer needed here as we are making the text as ellipsis in first line then no need to clam it to next line and orient also not need */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .temp_song .large{
    font-size: 1.3em;
    font-weight: 600;
    /* background-color: rgb(7, 7, 5); */
  }
  .temp_song .small{
    font-size: 0.9em;
    font-weight: 400;
    color: rgb(180, 180, 180);
    /* background-color: black; */
    margin-top: -2px;
  }
  .control-icons{
    /* background-color: #363636; */
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
  }
  .controls{
    width: 17px;
    height: 17px;
    margin-inline: 15px;
    margin-bottom: 4px;
  }
#suffle-img{
    width: 23px;
    height: 23px;
}
#play-img{
    width: 28px;
    height: 28px;
    margin-bottom: -3px;
    z-index: 99;
}
.play-pause{
    z-index: 99;
}
.play-pause:after{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(115deg, var(--dull-orange), var(--dark-violet));
    left: 112px;
    top: 2px;
    z-index: -2;
}
.play-pause:before{
    position: absolute;
    content: '';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: var(--shadowed-black);
    left: 116px;
    top: 6px;
    z-index: -1;
}

/* --------------------------------------------------------------------------------------------------- */
/* left box css styling starts here */
.masking{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 90;
    background-color: rgba(145, 145, 145, 0.705);
    display: none;
}
section{
    display: flex;
    max-width: 100vw;
    height: calc(100vh - 8em);
    position: relative;
    overflow: hidden; /* I used this overflow property to hide right side sections because when we refresh the webpage then it automatically gives a scrollbar which connects all sections ie., by scrolling we can go to next section, like from home page to music library. So, by using this I avoid this issue. */
}
.left-box{
    width: 320px;
    background: var(--left-box-bg);
    color: white;
    height: calc(100% - 8em);
    position: fixed;
}
.logo-and-arrow{
    display: flex;
    margin-top: 22px;
    margin-bottom: 8px;
}
.lni-arrow-left{
    margin-left: 12px;
    margin-top: -4px;
}
.logo-and-arrow ion-icon{
    position: absolute;
    font-size: 15px;
    margin-left: 54px;
    margin-top: -4px;
    z-index: 10;
}
.logo{
    font-size: 12px;
    font-weight: 200;
    margin-left: 55px;
    margin-top: -4px;
}
.logo:before{
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--shadowed-black);
    top: 17px;
    left: 52px;
    z-index: 5;
}
.logo:after{
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: linear-gradient(115deg, var(--dull-orange), var(--dark-violet));
    top: 15px;
    left: 50px;
}
/* search bar.......... */
.search{
    width: 92%;
    padding: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search .search-bar{
    width: 100%;
    padding: 0.5em 12px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
    background-color: var(--dull-grey);
    outline: none;
    color: white;
}
.search-bar::placeholder{
    color: white;
    font-size: 12px;
    font-weight: 200;
}
.search-bar:focus{
    border-bottom: 2px solid var(--main-orange);
    background-color: rgb(29, 29, 29);
    outline: 0.05em solid rgba(70, 70, 70, 0.438);
}
.search i{
    position: absolute;
    right: 30px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 12px;
    transform: rotate(90deg);
}
/* navbar section starts........ */
.navbar{
    width: 100%;
    margin-top: 15px;
    margin: 15px auto;
}
.navbar hr{
    width: 100%;
    border: 1px solid var(--dull-grey);
}
.navbar ul li{
    list-style: none;
    margin: 5px;
    padding: 7px 7px 7px 10px;
    border-radius: 3px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 13px;
}
/* .navbar ul li a:before{
    content: '';
    position: absolute;
    left: 0;
    margin-left: 5px;
    margin-top: -3px;
    width: 3px;
    height: 15px;
    background-color: rgb(255, 102, 0);
    border-radius: 5px;
} */
.navbar ul li:hover{
    background-color: var(--dull-grey);
}
.navbar ul li a i{
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: 100;
}
#video-icon{
    font-size: 19px;
}
#playlist-icon{
    font-size: 18px;
}
.navbar ul li a ion-icon{
    font-size: 21px;
    margin-right: 10px;
    margin-top: -7px;
    font-weight: 100;
}
/* left box css styling ends here */
/* --------------------------------------------------------------------------------------------------- */
/* right box css styling starts here */
.right-box{
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
    min-height: 100%;
    /* z-index: -10; */
    position: absolute;
    right: 0;
    overflow-x: hidden;
}
/* right box css styling starts here */