/* .section{
    max-height: 100%;
} */
.home{
    background: red;
}
.music{
    background: blue;
    display: none;
}
.video{
    background: #242424;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.playqueue{
    background: #242424;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.playlist{
    background: #242424;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.video h1, .playqueue h1, .playlist h1{
    font-size: 3em;
}