/* .section{
    max-height: 100%;
} */
.home{
    background: red;
}
.music{
    background: blue;
    display: none;
}
.video{
    background: #242424;
    color: rgb(204, 204, 204);
    display: none;
}
.playqueue{
    background: #242424;
    color: rgb(204, 204, 204);
    display: none;
}
.playlist{
    background: #242424;
    color: rgb(204, 204, 204);
    display: none;
}
.video h1, .playqueue h1, .playlist h1{
    font-size: 3em;
    margin-top: 50px;
    margin-left: 100px;
}
.search-page{
    background: #242424;
    color: rgb(204, 204, 204);
}